pydantic~=2.13.5
python-dotenv~=1.2.4
requests~=2.34.2
FastAPI~=0.142.2
uvicorn~=0.54.0
docker~=7.2.0
requests_toolbelt~=1.0.0
setuptools
numpy

##### based on the data handler needs ####
#numpy~=2.5.3
#scikit-learn~=1.9.1
#pandas~=3.0.6
#keras~=3.15.1
#psycopg2-binary~=2.9.13
torch~=2.14.1
#tensorflow~=2.21.0  # no CPython 3.14 wheel (newest tag is cp313)
#skorch>=1.4.0
#torchvision~=0.29.1
#kaggle~=2.2.4
#starlette~=1.7.0
#scipy~=1.18.1
#matplotlib~=3.11.2
